body {
  background-color: #222222;
}

input {
  color: white;
  background-color: #2d2d2d;
  border: 0.2em solid #e3e3e3;
  border-radius: 0.5em;
}

button {
  background-color: #2d2d2d;
  border-width: 0px;
  color: white;
}
/* item line styling  */
.item_line {
  padding: 0.8%;
  background-color: #2d2d2d;
  display: grid;
  grid-template-columns: 30% 2% 10% 2% 15% 1% 20% 10% 10%
}

.pricexcuantity {
  padding: 0.8%;
  border-color: white;
  border-width: 0.2em;
  border-style: solid;
  border-radius: 0.5em;
}
