button {
  background-color: #222222;
  border-width: 0px;
  color: white;
}

.center_items {
  text-align: center;
}

#save {
  font-size: 20px;
  color: white;
  border-width: 2px;
}

#dataBoxes {
  display: grid;
  grid-template-columns: 50% 50%;
  /* grid-template-rows: 100%; */
}
